body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
.emotions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}
img {
  width: 500px;
  border-radius: 20px;
}

p {
  width: 100%;
  font-size: 50px;
  padding-left: 60px;
  color: rgb(58, 138, 58);
}
h1 {
  padding-left: 60px;
  width: 100%;
  font-size: 2rem;
  color: lightcoral;
}
h2 {
  font-size: 2rem;
  color: green;
}

